html {
    margin: 5%;
    font-family: 'Courier New', Courier, monospace;
}

nav > ul {
    list-style-type: none;
    padding: 0%;
}

nav > ul > li {
    display: inline-block;
}

.services-container {
    text-align: center;
}

.services {
    border: 1px solid black;
    display: inline-block;
    width: 30%;
    margin: 1%;
}

.services > ul {
    text-align: left;
}

