/*EMs*/
.item-1 {
    font-size: 60px;
}

.item-1 h2 {
    font-size: 1.1em;
    margin-left: 0.9em;
}

.item-1 p {
    font-size: 0.1em;
}

.item-1 ul {
    font-size: 0.5em;
}

/*REMs*/
.item-2 h2 {
    font-size: 3rem;
}

.item-2 p {
    font-size: 1.7rem;
}

.item-2 ul {
    font-size: 0.8rem;
}